@tailwind base;
@tailwind components;
@tailwind utilities;

/* // adds on tailwind parameters with one className */
@layer components {
    .sidebar-icon {
      @apply relative flex items-center justify-evenly 
      h-24 w-24 mx-12
    bg-Jasper hover:bg-Barn
    text-Barn hover:text-gray-200
      hover:rounded-3xl rounded-xl
      transition-all duration-300 ease-linear
      cursor-pointer shadow-lg;
    }
  
    .sidebar-tooltip {
      @apply absolute w-auto p-2 m-2 min-w-max top-28 rounded-md shadow-md
      text-gray-600 bg-Selective
      text-xs font-bold 
      transition-all scale-0 origin-top;
    }
    .input-tooltip {
      @apply absolute w-auto p-2 m-2 min-w-max top-28 rounded-md shadow-md
      text-gray-600 bg-Selective
      text-xs font-bold 
      transition-all scale-0 origin-top;
    }

    .hide {
      @apply hidden
    }

    .offscreen {
      @apply hidden
    }
    .input-form {
      @apply border-[5px] rounded-xl w-full p-[5px] border-Persian outline-none 
      focus:border-Amaranth transition-all duration-500 ease-in-out my-2
    }
    .input-form-login {
      @apply border-[5px] rounded-xl p-[5px] border-Persian outline-none 
      focus:border-Amaranth transition-all duration-500 ease-in-out my-2
    }
    .input-label {
      @apply ml-3 font-Zilla text-2xl
    }
    .confirm-button {
      @apply self-end justify-center items-center 
      flex flex-row my-3 bg-Selective text-Barn 
      rounded-xl h-[50px] w-[225px] font-Zilla text-2xl
      hover:cursor-pointer hover:border-Barn hover:border-y-4
      hover:border-x-4 transition-all
    }
    .login-button {
      @apply my-3 bg-Selective text-Barn 
      rounded-3xl h-[50px] w-[225px] font-Nova text-2xl
    }
    .form-section {
      @apply flex flex-col justify-center items-center
    }
    .heading {
      @apply font-MajorMono text-4xl mb-7 mt-12
    }
    }